* {
		text-align: left;
		font-family: sans-serif;
}


@media (prefers-color-scheme: dark) {
	* {
		background-color : #181616;
		color : #c5c9c5;
	}
	.main {
		border-color: #c5c9c5;
	}
}

@media (prefers-color-scheme: light) {
	* {
		background-color : #c5c9c5;
		color : #181616;
	}
	.main {
		border-color: #181616;
	}
}

.active-header-link {
	color: #e46876;
}

header {
	text-align:center;
}

.header-links{
	width : 75%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px 40px;
	margin: 0 auto;
}

.header-link{
	flex-basis: 0;
}


.main {
	border: 5px solid;
	width: 75%;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 0px 20px;
}

#projects {
	flex-direction: column;
}

.ascii {
	font-family:monospace;
	text-align:left;
	display:inline-block;
}


@media (max-width : 900px){
	.main {
		flex-direction: column;
		width:95%;
	}
	.header-links{
		width : 95%;
		gap: 40px 50px;
	}
	.header-link{
		font-size:43px;
	}
	*{
		font-size:27px;
	}
	.ascii {
		font-size:16px;
	}

	.ascii-banner {
		order: -1;
	}
}
@media (min-width : 900px){
	.main {
		width: 675px;
	}
	.header-links{
		width: 675px;
	}
}

@media (max-width : 600px){
	.ascii {
		font-size:13px;
	}
	#aboutme-banner{
		font-size:11px;
	}
}
