* {
		text-align: center;
		font-family: sans-serif;
}


@media (prefers-color-scheme: dark) {
	* {
		background-color : #181616;
		color : #c5c9c5;
	}
	.main {
		border-color: #c5c9c5;
	}
}

@media (prefers-color-scheme: light) {
	* {
		background-color : #c5c9c5;
		color : #181616;
	}
	.main {
		border-color: #181616;
	}
}

.header-links{
	width : 75%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10px 5px;
	margin: 0 auto;
}

.main {
	border: 5px solid;
	width: 75%;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#projects {
	flex-direction: column;
}

.ascii {
	font-family:monospace;
	text-align:left;
	display:inline-block;
}


@media (max-width : 1080px){
	.main {
		flex-direction: column;
	}
	*{
		font-size:18px;
	}
	.ascii {
		font-size:16px;
	}

	.ascii-banner {
		order: -1;
	}
}

@media (max-width : 600px){
	.ascii {
		font-size:13px;
	}
}
