<!DOCTYPE html>
<html>
	<head>
		<title>Kodin</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../styles.css"/>
	</head>
	<body>
		<header>
			Kodin
			<hr/>
			<div class="header-links">
				<a class="header-link" href="..">Home</a>
				<a class="header-link" href="../aboutme.html">About</a>
				<a class="header-link" href="../projects.html">Projects</a>
				<a class="header-link active-header-link" href="../blog/index.html">Blog</a>
			</div>
			<hr/>
			This site is under construction
			<hr/>
			<br/>
			<br/>
		</header>
		<main class="main">
			<h2>Blog Title</h2>
			<p>Lorem Ipsum dolor set amet</p>
		</main>
	</body>
</html>
