/* Override this file to customise the theme's CSS for your site */
:root {
    --logo: var(--base08);
    --hightlight: var(--base0A);
    --link: var(--base0A);
    --hover: var(--base09);
}

.copyright{
  text-align: center;
}
