* {
		text-align: left;
		font-family: "Inter", sans-serif;
}

@font-face {
	font-family: 'UnifontEx';
	src: url('../fonts/UnifontExMono.woff') format('woff'),
	url('../fonts/UnifontExMono.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}


@media (prefers-color-scheme: dark) {
	* {
		background-color : #181616;
		color : #c5c9c5;
	}
	.main {
		border-color: #c5c9c5;
	}
}

@media (prefers-color-scheme: light) {
	* {
		background-color : #c5c9c5;
		color : #181616;
	}
	.main {
		border-color: #181616;
	}
}

.active-header-link {
	color: #e46876;
}

header {
	text-align:center;
}

.header-links{
	width : 75%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px 40px;
	margin: 0 auto;
}

.header-link{
	flex-basis: 0;
}


.main {
	border: 5px solid;
	width: 75%;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0px 20px;
}

#projects {
	flex-direction: column;
}



.ascii {
	font-family: "UnifontEx", "JetBrains Mono", monospace;
	text-align:left;
	display:inline-block;
	font-variant-ligatures: none;
}

@media (min-width : 900px){
	.main {
		width: 675px;
	}
	.header-links{
		width: 675px;
	}
	#aboutme-main {
		width: 800px;
	}
	.button-img{
		width: 88px;
		height: 31px;
	}
}

@media (max-width : 800px), (orientation:portrait) {
	.main {
		flex-direction: column;
		width:95%;
	}

	.header-links{
		width : 95%;
		gap: 40px 50px;
	}

	.header-link{
		font-size:43px;
	}

	*{
		font-size:27px;
	}

	.ascii {
		font-size:14px;
	}

	.ascii-banner {
		order: -1;
	}

	.button-img{
		width: 264px;
		height: 93px;
	}
}

@media (max-width : 600px){
	.ascii {
		font-size:13px;
	}
	#aboutme-banner{
		font-size:13px;
	}
	.button-img{
		width: 264px;
		height: 93px;
	}
}
