<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Talha Qamar">
		<title>{{block "title" .}}{{.Title}} - {{.Site.Title}}{{end}}</title>
		{{range .Site.Params.custom_css -}}
		<link rel="stylesheet" href="{{ . | absURL }}">
		{{- end}}

		<meta content="{{.Title}}" property="og:title" />
		{{ $content := .Content | htmlUnescape | plainify }}
		{{ if gt (len $content) 500 }}
		{{ $description := slicestr $content 0 200 }}
		<meta property="og:description" content="{{ $description | htmlEscape }}...">
		{{ else }}
		<meta property="og:description" content="{{ $content | htmlEscape }}">
		{{ end }}

		<link rel="prefetch" href="{{.Site.BaseURL}}js/jxl_dec.js" fetchpriority="high">
		<link rel="prefetch" href="{{.Site.BaseURL}}js/jxl_dec.wasm" fetchpriority="high">
		<script src="{{.Site.BaseURL}}js/jxl.min.js" type="text/javascript"></script>
	</head>
	<body>
		<header><a href="{{.Site.BaseURL}}"><h1 style="text-align:center;">{{.Site.Title}}</h1></a><hr/>
			<br/>
		</header>
		<main class="main" id="{{if .Param "main_id"}}{{.Param  "main_id"}}{{end}}">
			{{block "main" .}}
			{{end}}
		</main>
	</body>
</html>
