{{  define "main"  }}
<pre class="ascii ascii-banner">
                        /|
                  /|  _|  \
                 |  \/    | 
                  \    o o(
                  /_       \
    _______       / |/\____/ _____
   /       \    .'    /           \
  /         \  '    .'   /         \
 /            /__|  |__\/           \
| /\  /\  /\ |   \  /   | /\  /\  /\ |
|/  \/  \/  \_VVVV  VVVV /  \/  \/  \|
               '.    '.
                 '.    '.
                  /__|  |__\
                 |   \  /   |
                  VVVV  VVVV
                   |     |
                  .'    .'
                .'    .'
               /    /
              /    /
             |    /
              \   \
               \   \
                \  /
                 \/
</pre>
<div style="align-self:flex-start;">
        <h1>{{.Title}}</h1>
        {{  .Content  }}
        {{ with .OutputFormats.Get "rss" -}}
        <a href="{{ .RelPermalink }}">RSS Feed</a>
        {{ end }}

<ul>
	{{  range .Site.Pages  }}
	{{  $in_section := .InSection $  }}
	{{  $not_section_page := ne $ .  }}
	{{  if and $in_section $not_section_page  }}
	<li>
                 {{.Date.Format "2006 Jan 2"}} - <a href="{{ .Permalink }}">{{  .Title  }}</a>
	</li>
	{{  end  }}
	{{  end  }}
</ul>
</div>
{{  end  }}
